/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap');


* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

hr {
    color: #E6ECF8;
    background-color: #E6ECF8;
    opacity: 0.4;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
}

div, section, footer {
    padding-top: 30px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
.btn2:hover {
    background-color: #008CBA;
    color: white;
}

.btn3 {
    width: 350px;
}

.btn-long {
    background-color: transparent;
    color: white;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    border: 3px solid white;
    margin: auto;
    outline: none;
}

.btn-long:hover {
    background-color: white;
    color: black;
}